*{  
    box-sizing: unset;
    padding: 0;
    margin: 0;
}
body{   
    background-color: black;
}
.conteiner{
    width: 100%;
    margin-top: 25vh;
    height: 40vh;
}
.Calculator{
    margin-left: auto;
    margin-right: auto;
    width: 35%; 
    height: 100%;
    background-color: lightgray;
}
.header_calculador{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: end;
}
input#result_calculator{
    width: 100%;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: #1C1C1C;
    text-align: end;
    border: none;
}
#layout-buttons{
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 75.075% 25%;

}
#layout-buttonColumn{
    padding-left: -100px;
}
.managerButtons{
    display: inline-block;
}
.rowButtons{
    width: 100%;
    height: 20%;
    border: 0 none;
}
.columnButtons{
    float: left;
    border: 0 none;
    margin: 0;
    transition: all 0.5;
}
.buttonCalculator{
    transition: all 0.5;
    float: left;
    border: 0 none;
    margin: 0;
    width: 33.3%;
    height: 100%;
    background-color: white;
}
.buttondark{
    background-color: lightgray;
}
.buttonCalculator:hover,.columnButtons:hover{
    background-color: darkgray;

}